.movieItem {
  position: relative;
  margin: 5px;
  cursor: pointer;
  img {
    width: 150px;
  }
  .movieTitle {
    position: absolute;
    text-align: right;
    line-height: 1.2rem;
    bottom: 5px;
    right: 5px;
    font-size: 0.8rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
  }
  &:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transition: 0.5s ease;
  }
}
