.movieItem {
  position: relative;
  margin: 5px;
  cursor: pointer;
  img {
    width: 150px;
  }
  .movieTitle {
    position: absolute;
    text-align: right;
    line-height: 1.2rem;
    bottom: 5px;
    right: 5px;
    font-size: 0.8rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
  }
  &:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transition: 0.5s ease;
    .percentage {
      opacity: 1;
      transition: 0.5s ease;
    }
  }
  .percentage {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 200px;
    text-align: center;
    font-size: 1.3rem;
  }
}
