@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

html {
  font-family: "Noto Sans KR", sans-serif !important;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}
