@import "./variables";

@mixin Container_Form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin Contents_Vertical_Form {
  width: 78%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin Contents_Horizontal_Form {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin Introduction_Textbox {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  line-height: 1.7;
}

@mixin Report_Button {
  margin-top: 50px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  color: #3896f4;
  background: none;
  cursor: pointer;
}

@mixin Report_Background {
  background-color: $report-background;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@mixin Register_Form {
  > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    > label {
      line-height: 1.9;
      margin-right: 20px;
    }
    > input {
      line-height: 2.5;
      width: 100%;
      color: tomato;
      text-align: center;
      outline: none;
      background: none;
      border: none;
      border-bottom: 0.3px solid rgba(255, 255, 255, 0.3);
      &::placeholder {
        color: white;
      }
      &:focus {
        border-bottom: 0.3px solid tomato;
        transition: ease-in-out 0.5s;
      }
      &:focus::placeholder {
        color: transparent;
        transition: ease-in-out 0.3s;
      }
    }
  }
}

@mixin Register_Contents_Form {
  background-color: rgba(48, 48, 48, 0.5);
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin Register_Button {
  > button {
    margin-top: 30px;
    width: 100%;
    height: 10%;
    background-color: tomato;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 700;
    color: white;
  }
}
