div {
  > button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 51px;
    margin-left: 40px;
    cursor: pointer;
  }
}
a {
  > button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 51px;
    margin-left: 40px;
    cursor: pointer;
  }
}
