.Slider {
  margin: 30px 20px 20px 20px;
  > div {
    width: 100%;
    .Slider_Item {
      > img {
        max-width: 130px;
        height: 155px;
      }
      > button {
        height: 70px;
        margin-bottom: 30px;
      }
      .Latest__Image {
        width: 180px;
        height: 110px;
      }
    }
  }
}
