@import "../../Common/scss/_mixins.scss";

.Fifth__Container {
  @include Container_Form();
  .Fifth__Contents {
    @include Contents_Horizontal_Form();
    .Fifth__Image {
      width: 40%;
      margin-bottom: 40px;
    }
    > p {
      font-weight: 700;
      font-size: 3rem;
      margin-bottom: 40px;
    }
    > a {
      > button {
        background-color: #eb4d3d;
        font-size: 18px;
        color: white;
        width: 140px;
        height: 55px;
        border: none;
        border-radius: 10px;
        margin-top: 30px;
        cursor: pointer;
      }
    }
  }
}
