@import "../../Common/scss/_mixins.scss";

.First__Container {
  @include Container_Form();
  .First__Contents {
    @include Contents_Vertical_Form();
    .First__Title {
      width: 50%;
      > img {
        width: 85%;
      }
      > h2 {
        font-size: 3.7rem;
        font-weight: 700;
        margin-bottom: 40px;
      }
      > p {
        line-height: 1.7;
        opacity: 0.6;
      }
    }
    .First__Image {
      display: flex;
      width: 50%;
      align-items: center;
      justify-content: right;
      height: 40vh;
      > img {
        width: 100%;
      }
    }
  }
}
