#WatchYoutube {
  max-width: 1000px;
  padding: 20px;
  text-align: left;
  margin: auto;

  .topBox {
    display: flex;
    justify-content: space-between;

    .infoTextBox {
      cursor: pointer;
    }
    img {
      width: 40px;
      height: 40px;
      margin-top: 20px;
    }
  }
  .youtubeFrame {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  .disqusFrame {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
}
