@import "../../Common/scss/variables";

.genreInput {
  display: none;
  &:checked + label {
    box-shadow: 0 0 0 3px $green-color inset;
    transition: 0.5s ease;
  }
}
.genreLabel {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 80px;
  border: none;
  background-color: $button-color;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 1rem;

  .genreTitle {
    font-weight: 700;
  }
  .genreDesc {
    color: #efede8;
    font-size: 0.7rem;
    margin-top: 0.8rem;
  }
}
