#GenreChoice {
  max-width: 1200px;
  margin: 100px auto;
  text-align: center;
  .genreBox {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  button {
    margin-top: 50px;
    & + button {
      margin-left: 10px;
    }
  }
}
