@import "../../Common/scss/variables.scss";

.searchItem {
  display: flex;

  max-width: 600px;
  height: 100px;
  background-color: $button-color;
  margin: 10px auto;
  border-radius: 15px;
  color: white;
  overflow: hidden;
  .thumbnail {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100px;
    width: 100px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(50, 50);
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: auto;
    }
  }

  .searchDetail {
    flex-grow: 1;
    margin: auto;
    .searchTitle {
      font-weight: 700;
    }
    .searchDesc {
      margin-top: 1rem;
      font-size: 0.7rem;
      color: #efede8;
    }
  }
}
