#SearchChoice {
  max-width: 1200px;
  margin: 100px auto;
  text-align: center;
  > div {
    margin-top: 50px;
    .searchBox {
      display: flex;
      justify-content: space-between;
      margin: 50px auto;
      height: 50px;
      max-width: 700px;
      border: white solid 3px;
      border-radius: 10px;
      padding: 0.3rem 1rem;
      box-sizing: border-box;
      input {
        background-color: #171717;
        border: none;
        flex-grow: 1;
      }
      img {
        margin-left: 1rem;
        cursor: pointer;
      }
    }
  }
}
