#TestChoice {
  max-width: 800px;
  margin: 200px auto;
  text-align: center;

  .choices {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    button + button {
      margin-left: 30px;
    }
  }
}
