.Mypage__Taste {
  > button {
    margin-right: 10px;
    transition: 0.5s;
    font-size: 16px;
    font-weight: 700;
    &:hover {
      background-color: tomato;
      transition: 0.5s;
    }
  }
}
