.Mypage__Container {
  width: 100%;
  height: 100vh;
  .Mypage__Grid {
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr repeat(3, 1fr);
    font-size: 40px;
    font-weight: 700;
    > section {
      padding-left: 20px;
    }
  }
}
