@import "../../Common/scss/mixins";
@import "../../Common//scss/variables";

.Report__Container {
  width: 98%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.25fr repeat(2, 1fr) 0.8fr;
  grid-template-rows: 0.6fr repeat(2, 1.5fr) 0.5fr 0.1fr;
  gap: 20px;
  .Report-First__Sidebar {
    display: grid;
    justify-items: center;
    background-color: $report-background;
    grid-row: span 5;
    > a {
      height: 30px;
      > img {
        width: 80%;
        margin: 50px 0 100px 10px;
      }
      > button {
        border: none;
        cursor: pointer;
        opacity: 0.6;
        background: none;
        font-weight: 300;
        font-size: 18px;
        transition: 0.5s;
        color: white;
        &:hover {
          transition: 0.5s;
          opacity: 1;
        }
      }
      .GoBack {
        margin-top: 80px;
        color: tomato;
        opacity: 1;
        font-weight: 700;
      }
    }
  }
  .Report-First__Title {
    grid-column: span 3;
    align-self: center;
    > h1 {
      font-size: 55px;
      font-weight: 700;
    }
  }
  .Report-First__Graph {
    grid-column: span 1;
    @include Report_Background();
  }
  .Report-First__Chart {
    grid-column: span 1;
    @include Report_Background();
    padding: 30px;
  }
  .Report-First__Source {
    grid-column: span 2;
    @include Report_Background();
    display: grid;
    justify-content: center;
    align-items: center;
    > h3 {
      opacity: 0.7;
    }
  }
  .Report-First__Insight {
    grid-column: 4;
    grid-row: 2/ 5;
    @include Report_Background();
    display: grid;
    justify-items: center;
    > h3 {
      margin-top: 50px;
      font-size: 30px;
      font-weight: 600;
    }
    > p {
      opacity: 0.8;
      line-height: 1.5;
      width: 75%;
      > span {
        color: tomato;
      }
    }
  }
}
